version: "2"

services:

  reverse-proxy:
    build: ./reverse_proxy
    container_name: reverse_proxy
    depends_on:
      - flask_app
      - flask_app2
    volumes:
      - ./reverse_proxy/reverse_proxy.conf:/etc/reverse_proxy/reverse_proxy.conf
      - ./letsencrypt/live/haqio.duckdns.org/fullchain.pem:/etc/letsencrypt/live/haqio.duckdns.org/fullchain.pem;
      - ./letsencrypt/live/haqio.duckdns.org/privkey.pem:/etc/letsencrypt/live/haqio.duckdns.org/privkey.pem
    ports:
      - 80:80
  flask_app:
    image: flask_app1
    container_name: flask_app
    build: ./flask_app
    restart: always
    environment:
      - APP_NAME=MyFlaskApp
    ports:
      - 8080:80
  flask_app2:
    image: flask_app2
    container_name: flask_app2
    build: ./flask_app2
    restart: always
    environment:
      - APP_NAME=MyFlaskApp2
    ports:
      - 5001:5001
